@model MohammedKhaled.Models.attend

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>attend</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tnow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tnow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.outState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.outState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutReason)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
